<header class="header">
    <span class="logo">Logo</span>
    <nav class="navbar">
        <ul class="nav-buttons-ul">
            <li class="nav-button"><a id="home" href="/">Home</a></li>
            <li class="nav-button"><a id="sobre" href="/sobre">Sobre</a></li>
            <li class="nav-button"><a id="contato" href="/contato">Contato</a></li>
            <li class="nav-button"><a id="login" href="/login">Login</a></li>
        </ul>
    </nav>
</header>